<a href="https://colab.research.google.com/github/GonzalezBerumenRicardo/MineriadeDatos/blob/main/Ej_Python_1941497.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ejercicios de Python

**Tuplas**

Crear una variable flotante, integer, boleana y compleja e imprimir el tipo de variable que es.

In [ ]:
w=3.333
x=3
y=True
z=3+4j
print(type(w))
print(type(x))
print(type(y))
print(type(z))

Hola mundo
<class 'float'>
<class 'int'>
<class 'bool'>
<class 'complex'>

Crear una tupla con valores enteros imprimir el primer y ultimo valor.

In [7]:
a = (1, 4, 9, 16, 25,36,49,64,81,100,121)
print("\nPrimer elemento: ",a[0])
print("Último elemento:",a[10])

Primer elemento:  1
Último elemento: 121

Añadir 3 valores de string a la tupla.

In [ ]:
tupla_a = (21, 3, 6, 68, 121)
tupla_b = ("Primero", "Segundo", "Tercero")
tupla_c = tupla_a + tupla_b
print(tupla_c)

(21, 3, 6, 68, 121, 'Primero', 'Segundo', 'Tercero')

In [11]:
tup= (21, 3, 6, 68, 121)
auxiliar=list(tup)

auxiliar.append("Ricardo")
auxiliar.append("González")
auxiliar.append("Berumen")

tup=tuple(auxiliar)

print("\n Tupla \n >>>",tup)

 Tupla
 >>> (21, 3, 6, 68, 121, 'Ricardo', 'González', 'Berumen')

Verificar si una variable existe dentro de la tupla.

In [14]:
a = (21, 3, 6, 68, 121)
num=6
print("¿El elemento se encuentra en la tupla? \n >>",num in tup)

¿El elemento se encuentra en la tupla?
 >> True

**Listas**

Crear una lista con 40 elementos aleatorios enteros.

In [42]:
import random
n=40
def listaAleatorios(n):
      lista = [0]  * n
      for i in range(n):
          lista[i] = random.randint(0, 1000)
      return lista
aleatorios=listaAleatorios(n)
print(aleatorios)

[596, 450, 213, 934, 18, 253, 171, 747, 115, 333, 767, 590, 69, 226, 758, 249, 179, 696, 542, 110, 716, 739, 920, 977, 273, 757, 94, 345, 892, 66, 89, 499, 293, 566, 940, 813, 768, 858, 177, 212]

Con una funcion (def) crear dos listas nuevas a partir de la lista creada por numeros aleatorios, en la cual en una esten los elementos pares, y en la otra los elementos impares

In [43]:
def separar_par(l):

    a=list()

    for i in range(40):

        if l[i]%2==0:
            a.append(l[i])
    
    return a

def separar_impar(l):

    a=list()

    for i in range(40):

        if l[i]%2!=0:
            a.append(l[i])
    
    return a

lista1=separar_par(aleatorios)
lista2=separar_impar(aleatorios)

print("Números pares: ", lista1)

print("Números impares: ", lista2)

Números pares:  [596, 450, 934, 18, 590, 226, 758, 696, 542, 110, 716, 920, 94, 892, 66, 566, 940, 768, 858, 212]
Números impares:  [213, 253, 171, 747, 115, 333, 767, 69, 249, 179, 739, 977, 273, 757, 345, 89, 499, 293, 813, 177]

Crear dos variables con la longitud de ambas listas nuevas e imprimir las variables.

In [44]:
longitud1=len(lista1)
longitud2=len(lista2)

print("Cantidad de números pares: ", longitud1)
print("Cantidad de números impares: ", longitud2)

Cantidad de números pares:  20
Cantidad de números impares:  20

Ordenar los elementos de la lista par de mayor a menor, y los de la lista impar de menor a mayor.

In [45]:
lista1.sort(reverse=True)
lista2.sort()

print("Números pares en orden descendente: ", lista1)
print("Números pares en orden ascendente: ", lista2)

Números pares en orden descendente:  [940, 934, 920, 892, 858, 768, 758, 716, 696, 596, 590, 566, 542, 450, 226, 212, 110, 94, 66, 18]
Números pares en orden ascendente:  [69, 89, 115, 171, 177, 179, 213, 249, 253, 273, 293, 333, 345, 499, 739, 747, 757, 767, 813, 977]

Utilizar al menos cuatro de las funciones de listas en python en la lista original de 40 elementos.

In [46]:
y=aleatorios.count(69)

print(y)

aleatorios.reverse()

print(aleatorios)

aleatorios.insert(5,80)

print(aleatorios)

aleatorios.clear()

print(aleatorios)

1
[212, 177, 858, 768, 813, 940, 566, 293, 499, 89, 66, 892, 345, 94, 757, 273, 977, 920, 739, 716, 110, 542, 696, 179, 249, 758, 226, 69, 590, 767, 333, 115, 747, 171, 253, 18, 934, 213, 450, 596]
[212, 177, 858, 768, 813, 80, 940, 566, 293, 499, 89, 66, 892, 345, 94, 757, 273, 977, 920, 739, 716, 110, 542, 696, 179, 249, 758, 226, 69, 590, 767, 333, 115, 747, 171, 253, 18, 934, 213, 450, 596]
[]

**Diccionarios**

Crear un diccionario de 6 personas que conozcas con su primer nombre y su edad.

In [54]:
diccionario={"Rocío":19,"Ana Laura":23,"Luis Fernando":21,"Arturo":20,"Ernesto":22}

print("Personas: ", diccionario)

Personas:  {'Rocío': 19, 'Ana Laura': 23, 'Luis Fernando': 21, 'Arturo': 20, 'Ernesto': 22}

Crear una lista con los valores de la edad y reacomodar la lista de menor a mayor valor.

In [53]:
valor=list(diccionario.values())

valor.sort()

print("Edades: ", valor)

Edades:  [19, 20, 21, 22, 23, 25, 52]

Usando el diccionario y un loop, imprimir solo los nombres.

In [50]:
for key in dicc:
    print(key)

Rocío
Ana Laura
Luis Fernando
Arturo
Ernesto

Añadir dos personas nuevas a tu diccionario, incluyendo edad.

In [52]:
diccionario["Pedro"]=25
diccionario["Marina"]=52

print("Personas: ", diccionario)

Personas:  {'Rocío': 19, 'Ana Laura': 23, 'Luis Fernando': 21, 'Arturo': 20, 'Ernesto': 22, 'Pedro': 25, 'Marina': 52}

**Sets**

Crea un set con 100 numeros aleatorios enteros del 1 al 25.

In [71]:
import random

Enteros=set()

for i in range(100):
    Enteros.add(random.randrange(1,26))

print(Enteros)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25}

Comprueba la longitud de tu set.

In [74]:
print(len(Enteros))

25

Crea una lista de 5 numeros aleatorios del 1 al 10 y comprueba si cada valor aparece en el set inicial.

In [75]:
comprobacion=[0]*5

for i in range(5):
    comprobacion[i]=random.randrange(1,11)
    if comprobacion[i] in st:
        print("El valor %d aparece en el set inicial"%comprobacion[i])
    else:
        print("El valor %d no aparece en el set inicial"%comprobacion[i])

El valor 6 aparece en el set inicial
El valor 9 aparece en el set inicial
El valor 8 aparece en el set inicial
El valor 7 aparece en el set inicial
El valor 2 aparece en el set inicial